.subscription-dd-naranja.suscription {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 20px auto 50px;
  padding: 14px 24px;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0px 2px 6px #FF9700;
          box-shadow: 0px 2px 6px #FF9700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("https://www.eltiempo.com/maquetacion/modulos-html-libre/eltiempo/2021/cta-boletines-seccion-articulos/img-chica-boletines-naranja.svg?plm") no-repeat bottom right 6px/auto 85px;
}

.subscription-dd-naranja.suscription .logo-boletines-naranja {
  content: "";
  display: block;
  width: 20%;
  max-width: 183px;
  height: 50px;
  background: url("https://www.eltiempo.com/maquetacion/modulos-html-libre/eltiempo/2021/cta-boletines-seccion-articulos/img-boletines-naranja.svg") no-repeat center/contain;
}

.subscription-dd-naranja.suscription article.newsletter-form {
  margin: 0 120px 0 15px;
  width: 100%;
  text-align: left;
}

.subscription-dd-naranja.suscription article.newsletter-form .titulo-suscripcion-naranja {
  font: 20px/25px "duplicate_ionicbold";
  color: #FF9700;
}

.subscription-dd-naranja.suscription article.newsletter-form .link-mas-boletines {
  position: absolute;
  top: 12px;
  right: 24px;
  font: 11px/11px "open_sansbold";
  color: #0B2650;
}

.subscription-dd-naranja.suscription article.newsletter-form .link-mas-boletines:after {
  content: "\e907";
  font-family: "et_icons";
  margin-left: 5px;
  font-size: 9px;
  vertical-align: middle;
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  left: 0;
  padding: 12px 24px 2px;
  text-align: left;
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms span.first-line-terms {
  font: 8px/11px "open_sansregular";
  color: #0B2650;
  display: inline-block;
  margin: 0;
  vertical-align: super;
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms span.first-line-terms a {
  color: #0B2650;
  text-decoration: underline;
  font-family: "open_sansbold";
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms input[type="checkbox"] {
  width: 11px;
  height: 11px;
  margin: 0;
  vertical-align: super;
  position: relative;
  top: 2px;
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.campos-inputs {
  display: inline-block;
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.campos-inputs .input-control {
  max-width: 330px;
  width: 21vw;
  border: solid 1px #FF9700;
  border-radius: 5px;
  padding: 5px 7px;
  font: 12px/17px "open_sansregular";
  color: #666666;
  margin-right: 10px;
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.campos-inputs .input-control:last-child {
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom {
  display: inline-block;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom button.newsletter-button {
  background: #FF9700;
  border: 1px solid #FF9700;
  border-radius: 15px !important;
  padding: 5px 14px;
  color: #FFFFFF;
  font: 14px/17px "open_sansregular";
  position: relative;
  top: 1px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom button.newsletter-button:hover {
  background-color: #F8C67D;
  border-color: #F8C67D;
}

@media (min-width: 996px) and (max-width: 1052px) {
  .subscription-dd-naranja.suscription {
    background: url("https://www.eltiempo.com/maquetacion/modulos-html-libre/eltiempo/2021/cta-boletines-seccion-articulos/img-chica-boletines-naranja.svg?plm") no-repeat bottom right 6px/auto 75px;
  }
  .subscription-dd-naranja.suscription article.newsletter-form .titulo-suscripcion-naranja {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (min-width: 768px) and (max-width: 995px) {
  .subscription-dd-naranja.suscription {
    background: url("https://www.eltiempo.com/maquetacion/modulos-html-libre/eltiempo/2021/cta-boletines-seccion-articulos/img-chica-boletines-naranja.svg?plm") no-repeat bottom right 6px/auto 70px;
    margin-bottom: 60px;
  }
  .subscription-dd-naranja.suscription article.newsletter-form .titulo-suscripcion-naranja {
    font-size: 12px;
    line-height: 16px;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom button.newsletter-button {
    font-size: 9px;
    top: -1.5px;
    line-height: 0;
    min-height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .subscription-dd-naranja.suscription {
    padding: 11px 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: unset;
    margin-bottom: 77px;
  }
  .subscription-dd-naranja.suscription:before {
    display: block;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background-position: left center;
    background-size: 140px auto;
  }
  .subscription-dd-naranja.suscription .logo-boletines-naranja {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background-position: left;
    background-size: 160px auto;
  }
  .subscription-dd-naranja.suscription article.newsletter-form {
    margin: 0 auto;
    width: 100%;
    position: relative;
    max-width: 450px;
  }
  .subscription-dd-naranja.suscription article.newsletter-form:before {
    content: "";
    background: url("https://www.eltiempo.com/maquetacion/modulos-html-libre/eltiempo/2021/cta-boletines-seccion-articulos/img-chica-boletines-naranja.svg?plm") no-repeat center/contain;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    width: 75px;
    height: 40px;
  }
  .subscription-dd-naranja.suscription article.newsletter-form .titulo-suscripcion-naranja {
    font-size: 12px;
    line-height: 14px;
    background: #FF9700;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto 10px;
    width: 100%;
  }
  .subscription-dd-naranja.suscription article.newsletter-form .link-mas-boletines {
    top: -53px;
    right: 8px;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.campos-inputs {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.campos-inputs .input-control {
    width: 100%;
    max-width: unset;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.campos-inputs .input-control:last-child {
    padding-right: 35%;
    margin-right: 5px;
    width: calc(100% - 5px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 0;
    border-radius: 5px 15px 15px 5px;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions {
    bottom: -12px;
    width: 95vw;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    left: 50%;
    padding: 0;
    height: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms {
    position: relative;
    display: block;
    margin-left: 13px;
    width: calc(100% - 13px);
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms > span {
    width: 100%;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms input[type="checkbox"] {
    position: absolute;
    left: -13px;
    top: 0;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms span.first-line-terms {
    display: inline-block;
    width: calc(100% - 20px);
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom button.newsletter-button {
    font-size: 9px;
    top: -1.5px;
    line-height: 0;
    min-height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom {
    -webkit-transform: unset;
            transform: unset;
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 35%;
  }
  .subscription-dd-naranja.suscription article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom button.newsletter-button {
    width: 100%;
    padding: 5px 3px;
  }
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja {
  padding: 11px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: unset;
  margin-bottom: 82px;
  width: 100%;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja .logo-boletines-naranja {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  background-position: left;
  background-size: 160px auto;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja:before {
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  background-position: left center;
  background-size: 140px auto;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form {
  margin: 0 auto;
  width: 100%;
  position: relative;
  max-width: 450px;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form:before {
  content: "";
  background: url("https://www.eltiempo.com/maquetacion/modulos-html-libre/eltiempo/2021/cta-boletines-seccion-articulos/img-chica-boletines-naranja.svg?plm") no-repeat center/contain;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 75px;
  height: 40px;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form .titulo-suscripcion-naranja {
  font-size: 12px;
  line-height: 14px;
  background: #FF9700;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto 10px;
  width: 100%;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form .link-mas-boletines {
  top: -53px;
  right: 8px;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .form-group.campos-inputs {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .form-group.campos-inputs .input-control {
  width: 100%;
  max-width: unset;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .form-group.campos-inputs .input-control:last-child {
  padding-right: 35%;
  margin-right: 5px;
  width: calc(100% - 5px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0;
  border-radius: 5px 15px 15px 5px;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions {
  bottom: -20px;
  width: 100%;
  left: 0;
  padding: 0;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms {
  position: relative;
  display: block;
  margin-left: 13px;
  width: calc(100% - 13px);
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms > span {
  width: 100%;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms input[type="checkbox"] {
  position: absolute;
  left: -13px;
  top: 0;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .newsletter-conditions .container-terms span.first-line-terms {
  display: inline-block;
  width: calc(100% - 20px);
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom button.newsletter-button {
  font-size: 9px;
  top: -1.5px;
  line-height: 0;
  min-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom {
  -webkit-transform: unset;
          transform: unset;
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 35%;
}

.subscription-dd-naranja.suscription.columna-derecha-boletin-naranja article.newsletter-form form.formulario-inscripcion-naranja .form-group.subscription-buttom button.newsletter-button {
  width: 100%;
  padding: 5px 3px;
}

/* ajuste color html libre */
.home-seccion > .ad-container-hor .module-free-html {
  background: #ffffff;
}
/*# sourceMappingURL=cta-boletines.css.map */